.img-friends {
  margin: 30px 0;
  border-radius: 2rem;
}
#nome {
  color: black;
}

body {
  overflow-x: hidden;
}

.container {
  margin-top: 5px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr;
  max-width: 100%;
}

#caixa {
  font-family: "Kufam", cursive;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 15px;
  margin: 10px;
}

#div-dados {
  display: flex;
  flex-direction: column;
}

#div-dados p {
  margin-bottom: -12px;
}

#button-add {
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  border: 2px solid #fafafa;
  padding: 7px 20px;
  color: #155670;
  font-weight: 700;
  transition: all 0.3s;
  background: #a8a6a6;
  outline: none;
  cursor: pointer;
}

#button-add:hover {
  background: #155670;
  color: #f1f1f1;
}

#div-messagem-erro {
  margin: 10% 0 10% 0;
  text-align: center;
  background-color: #3cbcfb;
  color: white;
}

#div-loading {
  margin: 30% 0 30% 0;
  color: black;
}
